<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <NuGet>.nuget\nuget.exe</NuGet>
    <PackagesFolder>packages</PackagesFolder>
    <SourceFolder>code</SourceFolder>
    <XUnitRunner>$(SourceFolder)\packages\xunit.runner.msbuild.2.0.0\build\portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS\xunit.runner.msbuild.dll</XUnitRunner>
    <TestsAssembly>$(SourceFolder)\Sitecore.TestRunnerJS.Tests\bin\Release\Sitecore.TestRunnerJS.Tests.dll</TestsAssembly>
    <ReleaseFolder>output</ReleaseFolder>
    <TempFolder>TestRunnerJS</TempFolder>
    <ProjectToBuild>$(SourceFolder)\Sitecore.TestRunnerJS.sln</ProjectToBuild>
    <SiteRoot>$(SourceFolder)\Sitecore.TestRunnerJS</SiteRoot>
    <SitePort>12384</SitePort>
    <IISExpressStart>powershell.exe start-process "c:\program` files\iis` express\iisexpress.exe`  /port:$(SitePort)` /path:$([System.IO.Path]::GetFullPath('$(SiteRoot)'))" -windowstyle Hidden</IISExpressStart>
    <IISExpressStop>powershell.exe stop-process -processname iisexpress*</IISExpressStop>
    <PhantomJs>$(SourceFolder)\packages\PhantomJS.1.9.8\tools\phantomjs\phantomjs.exe</PhantomJs>
  </PropertyGroup>
</Project>