<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <NuGet>.nuget\nuget.exe</NuGet>
    <PackagesFolder>packages</PackagesFolder>
    <SourceFolder>code</SourceFolder>
    <XUnitRunner>$(SourceFolder)\packages\xunit.runner.msbuild.2.0.0\build\portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS\xunit.runner.msbuild.dll</XUnitRunner>
    <TestsAssembly>$(SourceFolder)\Sitecore.TestRunnerJS.Tests\bin\Release\Sitecore.TestRunnerJS.Tests.dll</TestsAssembly>
    <ReleaseFolder>output</ReleaseFolder>
    <TempFolder>TestRunnerJS</TempFolder>
    <ProjectToBuild>$(SourceFolder)\Sitecore.TestRunnerJS.sln</ProjectToBuild>
  </PropertyGroup>
</Project>