<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="TestRunnerJS.BootstrapModulePath" value="/TestRunnerJS/assets/bootstrapper.js"/>
      <setting name="TestRunnerJS.RequireJSSettingName" value="Speak.Html.RequireJSBackwardCompatibilityFile"/>
      <setting name="TestRunnerJS.RootTestFixturesFolder" value="/TestRunnerJS/Tests"/>
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.TestRunnerJS.Pipelines.HttpRequest.EnsureTestRunnerEnabled, Sitecore.TestRunnerJS" 
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.QueryStringResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>