<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  BOOTSTRAP MODULE PATH
            The path to TestRunnerJS bootstrap module that is responsible for loading test environment before SPEAK application
      -->
      <setting name="TestRunnerJS.BootstrapModulePath" value="/sitecore/TestRunnerJS/assets/bootstrapper.js"/>

      <!--  REQUIREJS SETTING NAME
            The name of SPEAK setting that contains path to the requirejs loader entry point
      -->
      <setting name="TestRunnerJS.RequireJSSettingName" value="Speak.Html.RequireJSBackwardCompatibilityFile"/>

      <!--  ROOT TEST FIXTURE FOLDER
            The path to the folder that contains test fixtures to run
      -->
      <setting name="TestRunnerJS.RootTestFixturesFolder" value="/sitecore/TestRunnerJS/Tests"/>
      
      <!--  ROOT APPLICATION PATH
            The path to the application under test
            Examples:
            1. Application has following url: http://www.example.com/sitecore/shell/sitecore/client/Applications/SampleApp
               Root Application Path: /sitecore/client/applications/
            2. Application has url: http://www.example.com/sitecore/shell/sitecore/client/<my_custom_folder>/SampleApp
               Root Application Path: /sitecore/client/<my_custom_folder>/
      -->
      <setting name="TestRunnerJS.RootApplicationPath" value="/sitecore/client/applications/"/>
    </settings>

    <!--  CONFIG SETTINGS
          The class is responsible for reading config values from config file
    -->
    <configSettings type="Sitecore.TestRunnerJS.ConfigSettings, Sitecore.TestRunnerJS" />

    <!--  SITECORE WRAPPER
          The class is responsible for speparation of Sitecore static API from TestRunner logic
    -->
    <sitecoreWrapper type="Sitecore.TestRunnerJS.SitecoreWrapper, Sitecore.TestRunnerJS" /> 
    
    <pipelines>
      <initialize>
        <!--  REGISTER TEST RUNNER ROUTES
              The pipeline processor is responsible for registering WebAPi routes of TestRunnerJS services.
        -->
        <processor type="Sitecore.TestRunnerJS.Pipelines.Initialize.RegisterTestRunnerRoutes, Sitecore.TestRunnerJS" />
      </initialize>
      <httpRequestBegin>
        <!--  ENSURE TEST RUNNER ENABLED
              The pipeline processor is responsible for enabling testing environment by specifying sc_testrunnerjs query parameter.
        -->
        <processor type="Sitecore.TestRunnerJS.Pipelines.HttpRequest.EnsureTestRunnerEnabled, Sitecore.TestRunnerJS"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.QueryStringResolver, Sitecore.Kernel']">
          <param ref="configSettings" />
          <param ref="sitecoreWrapper" />
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>