<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.SpeakTest.Pipelines.HttpRequest.EnsureSpeakTestingEnabled, Sitecore.SpeakTest" 
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.QueryStringResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>